<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ArquitecturaDatosDatos.Properties.Settings.ConexionBd"
            connectionString="Data Source=DESKTOP-I3RVQVB\SQLEXPRESS04;Initial Catalog=ProductoDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>